* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.6;
}

header {
    background: #333;
    color: white;
    padding: 1rem 2 rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links a {
    color: aquamarine;
    text-decoration: none;
}

.main-content {
    padding: 2rem;
} 

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.box {
    background: #f4f4f4;
    padding: 3rem;
    text-align: center;
    border: 1px solid #ccc;
}

footer {
    background: #222;
    color: antiquewhite;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links li {
        padding: 0.5rem 0;
    }
}